@CHARSET "UTF-8";



#midcolumn {
	width: 640px;
	padding: 0 10px 10px 10px;
}

#rightcolumn {
	width: 260px;
}


h3 {
	clear: both;
}

h7 {
	font-weight: bold;
	padding: 5px;
}

a strong {
	text-decoration: underline;
}


/*
CHANGE FOR 'HOME BUTTON ON ALL PAGES
This below replaces background with plain Paho gradient background without logo
*/

#novaContent {
	background: url("images/pahoBG.jpg") no-repeat white;
	padding-top: 170px;
	display: block;
}

/*
ORIGINAL
#novaContent {
	background: url("images/backgroundMain.png") no-repeat white;
	padding-top: 170px;
	display: block;
}
*/






#introText p.left {
	width: 48%;
	float: left;
	margin-right: 2%;
	text-align: justify;
}

#introText p.right {
	width: 48%;
	position: relative;
	float: right;
	text-align: justify;
}

#feature_1 {
	float: left;
	width: 30%;
	margin-right: 3%;
}

#feature_2 {
	float: left;
	width: 30%;
	margin-right: 3%
}

#feature_3 {
	float: left;
	width: 30%;
}

#feature_4 {
	clear: both;
	float: left;
	width: 63%;
	margin-right: 3%;
}

#feature_more {
	float: left;
	width: 30%;
}

#bigbuttons {
	position: relative;
	left: 420px;
	top: -170px;
}
#homebutton {
	position: relative;
	left: 0px;
	top: 0px;
}

#bigbuttons h3{
	visibility: hidden;
}


#bigbuttons a {
}

#bigbuttons ul li {
   display:block;
   list-style-type:none;
   background-color: red;
   padding: 0;
   margin: 0;
}


#bigbuttons a:hover{
	text-decoration: none;
}

/*
CHANGE FOR 'HOME BUTTON ON ALL PAGES
This block below puts button logo in the right place and replace 'HOME' text with the Paho logo image
*/

#bigbuttons a{
   display: block;
   height:77px; width:250px;
   padding: 0;
   margin: 20px;
   text-indent: -9000px;
   position: absolute;
}

#bigbuttons a#pahoLogo {
   display: block;
   height:175px; width:440px;
   padding: 0;
   margin: 0px;
   text-indent: -9000px;
   position: absolute;

}
/*
CHANGE FOR 'HOME BUTTON ON ALL PAGES
This block below pulls in the Paho logo image
*/
#pahoLogo{
   background:transparent url("images/pahoLogo.png") no-repeat 0 0;
	top:0px;
	left:-410px;
}


#buttonDownload {
   background:transparent url("images/buttonDownload.png") no-repeat 0 0;
   top: 0px;
   left: 0px;
}

#buttonDownload:hover {
   background:transparent url("images/buttonDownload_sel.png") no-repeat 0 0;
}


#buttonDocumentation {
   background:transparent url("images/buttonDocumentation.png") no-repeat 0 0;
   top: 87px;
   left: 0px;
}

#buttonDocumentation:hover {
   background:transparent url("images/buttonDocumentation_sel.png") no-repeat 0 0;
}

#buttonSupport {
   background:transparent url("images/buttonSupport.png") no-repeat 0 0;
   top: 0px;
   left: 280px;
}

#buttonSupport:hover {
   background:transparent url("images/buttonSupport_sel.png") no-repeat 0 0;
}

#buttonInvolved {
   background:transparent url("images/buttonInvolved.png") no-repeat 0 0;
   top: 87px;
   left: 280px;
}

#buttonInvolved:hover {
   background:transparent url("images/buttonInvolved_sel.png") no-repeat 0 0;
}

#bigbuttons a * {
	visibility: hidden;
}

#headlines {
}

#headlines ul li {
	margin: 0 0;
	list-style-type: none;
	list-style-image: none;
}


#headlines div.title {
	display: inline;
	margin-right: 0.5em;
}

#headlines div.meta {
	display: inline;
	color: #444444;
	font-size: smaller;
}

#headlines div.item {
	display: block;
	}

#screencast {
	margin-bottom: 10px;
}

#newAndNoteworthy a {
   display: block;
   width:218px;
   height:51px;
   padding: 0;
   text-indent: -9000px;
   background:transparent url("images/bannerNewAndNoteworthy08M4.png") no-repeat 0 0;
   margin-top: 10px;
}

#paho h1,#paho h2,#paho h3 {
	border: none;
	font-family: Avant Garde, Verdana, Arial;
	line-height: 1em;
/* 	letter-spacing: 0.1em; */
}

#paho,#paho p {
/* 	font-family: Goergia; */
/* 	font-size: 1.2em; */
	text-align: justify;
}

#paho a {
	color: #7f354d;
}

#paho h3 {
	font-size: 1.2em;
	padding: 10px 5px 10px 5px;
}

#paho h2 {
	font-size: 1.5em;
	padding: 10px 5px 10px 5px;
}

#paho h1 {
	font-size: 2em;
	text-align: center;
	padding: 15px 5px 15px 5px;
}

#paho-logo-overlay {
  position: relative;
  width: 231px;
  height: 143px;
  bottom: 154px;
  left: 45px;
  float: left;
  margin-bottom: -154px;
}

/*******************/
/* Twitter widget */
/*******************/
.twtr-hd h3 {
	clear: none;
}

.twtr-tweet-text p {
	text-align: left !important;
}
/*******************/


/********************/
/* New & Noteworthy */
/********************/

#header-links {margin-left: 2em;}
table.news td {border-top: solid thin black; padding:10px}
table.news tr {vertical-align: top;}
table.news tr td.section {font-size: 20px; font-weight: bold;}
table.news tr td.title {vertical-align: top; width: 30%; font-weight: bold;}
table.news tr td.content {vertical-align: top; width: 70%;}


